{% extends "new_base.html" %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% block metadata %}
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metadata %}
    {% block self_links %}
        <link href="/static/css/create_recipe.css" rel="stylesheet">
    {% endblock self_links %}
</head>
<body>
    {% block main_content %}
        <div id="back_plus_waves">
            <div class="block--background" id="back">
                <section class="fast--instruct section--bg_colour--border">
                    <h2>Краткая инструкция</h2>
                    <div class="block--flex_column">
                        <div class="block--flex_row">
                            <p>Это пространство сайта - форма, заполнив которую, вы получите свой красивый рецепт<p>
                            <p>вы всегда можете нажать кнопку для использования нейросети для обработки текста или создания картинок,либо обработки<p>
                        </div>
                        <div class="block--flex_row">
                            <p>ниже вам требуется заполнить 6 различных полей формы, которые могут включать обязательные и необязательные поля. они все  в какой-то степени обязательны.<p>
                            <p>Формат в котором вы можете получить рецепт: pdf, html, png, jpeg<p>
                        </div>
                    </div>
                    <p>вы всегда можете приостановить процесс создания рецепта, либо уничтожить</p>
                </section>
                <section class="main_form section--bg_colour--border">
                    <h2></h2>
                    <div class="block--flex_row">
                        <label for="name">наименование</label>
                        <input type="text" id="name">
                    </div>
                    <div class="block--flex_row">
                        <label for="theme">тема</label>
                        <input type="text" id="theme">
                    </div>
                    <div class="block--flex_row">
                        <label for="description">описание</label>
                        <input type="text" id="description">
                    </div>
                    <div class="block--flex_row">
                        <label for="hashtags">хэштеги</label>
                        <input type="text" id="hashtags">
                    </div>
                    <button>выберите категорию рецепта</button>
                    <div class="ingredients block--flex_column">
                        <h2></h2>
                        <div class="ingredient block--flex_row">
                            <label class="id_ing">1</label>
                            <input type="text" id="name_ing" placeholder="">
                            <input type="text" id="for_need" placeholder="">
                            <input type="text" id="count" placeholder="">
                            <label class="label__button--delete_ing">x</label>
                        </div>
                        <button>+</button>
                    </div>
                    <div class="steps">
                        <div class="header__text">
                            <h2></h2>
                        </div>
                        <div class="steps__elem">
                            <div class="block--flex_row">
                                <div class="block--flex_column">
                                    <div class="block--flex_row">
                                        <label></label>
                                        <input type="text">
                                        <label></label>
                                        <input type="text">
                                    </div>
                                    <div class="block--flex_row">
                                        <label></label>
                                        <input type="text">
                                    </div>
                                    <div class="block--flex_row">
                                        <label></label>
                                        <input type="text">
                                    </div>
                                    <div class="step--add_graphic">
                                        <div id="container_graph"></div>
                                        <button>+</button>
                                    </div>
                                    <div class="step--add_links links--add">
                                        <div class="container">
                                            <input type="text" placeholder="">
                                            <input type="text" placeholder="">
                                        </div>
                                        <div class="between_link_and_add"></div>
                                        <button>+</button>
                                    </div>
                                </div>
                                <button class="step__elem--del">+</button>
                            </div>
                            <button>+</button>
                        </div>
                    </div>
                    <div class="result">
                        <div class="header__text">
                            <h2></h2>
                            <textarea placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="hyper_text links--add">
                        <div class="container">
                            <input type="text" placeholder="">
                            <input type="text" placeholder="">
                        </div>
                        <div class="between_link_and_add"></div>
                        <button>+</button>
                    </div>
                    <div class="block--flex_row">
                        <input type="checkbox">
                        <label></label>
                    </div>
                    <div class="block--flex_row">
                        <input type="checkbox">
                        <label></label>
                    </div>
                </section>
            </div>
        </div>
    {% endblock main_content %}
    {% block scripts %}
        <script type="module">
            import { DecorativeWaveElement } from '/static/js/decor_create_recipe_page.js';

            let where = document.getElementById('back_plus_waves');
            let decor_wave_1 = new DecorativeWaveElement(
                165, 970, 0, 2, where
            );
            let decor_wave_2 = new DecorativeWaveElement(
                165, 970, 0, 1, where
            );

            decor_wave_1.show(1, 1, 1);
            decor_wave_2.show(1, 3, 0);

            const observer = new ResizeObserver((entries) => {
                for (const entry of entries) {
                    const {width, height} = entry.contentRect
                    let cont_elem = document.getElementById('back_plus_waves');
                    cont_elem.removeChild(cont_elem.firstChild);
                    cont_elem.removeChild(cont_elem.lastChild);
                    const size_elem = document.getElementById('back').getBoundingClientRect()
                    decor_wave_1.show((Math.round(size_elem.height / decor_wave_1.height)), 1, 1);
                    decor_wave_2.show((Math.round(size_elem.height / decor_wave_2.height)), 3, 0);
                    console.log(`width: ${width} height: ${height}`)
                }
            });

            document.addEventListener('DOMContentLoaded', (event) => {
                observer.observe(document.getElementById('back'));
            });
        </script>
    {% endblock scripts %}
</body>
</html>