<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/static/css/registration.css" rel="stylesheet">
</head>
<body>
<div class="block--background">
    <div class="header">
        <h1>PRETTY RECIPEMAKER</h1>
        <h2>Регистрация</h2>
    </div>
    <form method="POST" action="{{ url_for('auth.register_handler') }}">
        {{ form.hidden_tag() }}

        <label class="form__label" for="name">{{ form.name.label }}</label>
        {{ form.name(class="form-control", id="name") }}
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        <label class="form__label" for="surname">{{ form.surname.label }}</label>
        {{ form.surname(class="form-control", id="surname") }}
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        <label class="form__label" for="birth_date">{{ form.date_of_birth.label }}</label>
        {{ form.date_of_birth(class="form-control", id="birth_date") }}
        {% for error in form.date_of_birth.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        <label class="form__label" for="email">{{ form.email.label }}</label>
        {{ form.email(class="form-control", type="email", id="email") }}
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        <label class="form__label" for="password">{{ form.password.label }}</label>
        {{ form.password(class="form-control", type="password", id="password") }}
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        <label class="form__label" for="repeat_password">{{ form.password_again.label }}</label>
        {{ form.password_again(class="form-control", type="password", id="repeat_password") }}
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

        <p class="agreement">нажимая кнопку зарегистрироватся, я принимаю соглашение о получение информации, оповещений из сервиса через стороние службы связи</p>

        <div class="button--reg">
            {{ form.submit(type="submit", class="btn btn-primary button") }}
        </div>
    </form>
    {% if message %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endif %}
</div>
</body>
</html>