<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block links %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="/app/web/view/static/css" rel="stylesheet">
    {% endblock links %}
</head>
<body>
    {% block header %}
        <header class="header">
            <div class="header__text"></div>
            <nav>
                <button class=""></button>
                <button></button>
                <button></button>
                <button></button>
                <button></button>'
            </nav>
        </header>
    {% endblock header%}
    {% block footer %}
        <div class="button--navigate top--flex">
            <button class="profile"></button>
            <div class="button--scroll-up"></div>
            <button class="home"></button>
            <div class="button--scroll-up"></div>
            <button class="contact"></button>
        </div>>
    {% endblock footer %}
</body>
</html>