* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat-base_font{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}