* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.header__back--custom {
    background: url("../../static/images/reg/corner_style_block.svg") no-repeat;
}
